// -------------description-------------
.description{
  &__content{
    margin: 0 auto;
    padding: 12px;
    max-width: $container-small;
    text-align: center;
    p{line-height: 30px;}
  }
}
// -------------/description-------------
// -------------features-------------
.features{
  margin: 0 auto;
  max-width: $container-basic;
  &__box{
    @include my-display-flex;
    align-items: center;
    &:nth-child(2n + 1){flex-direction: row-reverse;}
    .box__text{width: 40%;}
    .box__img{
      width: 60%;
      padding: 20px;
      > img {width: 100%;}
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .features{
    margin: 0 auto;
    max-width: 100%;
    &__box{
      @include my-display-flex;
      align-items: center;
      flex-wrap: wrap;
      &:nth-child(2n + 1){flex-direction: row;}
      .box__text{width: 100%; order: 2;}
      .box__img{
        order: 1;
        width: 100%;
        padding: 0px;
        > img {width: 100%;}
      }
    }
  }
}
// ------------/features-------------
