// colors
$color-primary: #1473e6;
$color-primary500: #0d66d0;
$color-secondary: white;
$color-text: #2c2c2c;
// font-size
$font-small: 14px;
$font-normal: 20px;
$font-med: 24px;
$font-big: 34px;
// container
$container-basic: 1280px;
